<div class="hero">
  <h1>Salary Calculator.</h1>
  <p class="h2">Effortlessly Convert Your Salary Across Currencies</p>

  <p>Easily calculate your hourly, daily, monthly, and yearly salary in various currencies using the latest exchange
    rates. Our user-friendly tool helps you make informed financial decisions, whether you're planning to move abroad,
    negotiating with international employers, or simply exploring your global earning potential. Convert your salary now
    and see the difference!</p>

  <p>Last update status: SOME_DATE</p>

</div>
