<form [formGroup]="form" class="form">

  <mat-label class="label">
    {{ currency() }}

    @if (currency() !== 'USD') {
      <span class="label-minor">(1{{ currency() }} = {{ currencyInUsd() }}
        USD / 1 USD = {{ currencyInUsd() + ' ' + currency() }})</span>
    }
  </mat-label>

  <div class="fields">

    <mat-form-field class="field">
      <mat-label>Hourly</mat-label>
      <input formControlName="hourly" matInput min="1" placeholder="Hourly" >
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Daily</mat-label>
      <input formControlName="daily" matInput min="8" placeholder="Daily" >
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Monthly</mat-label>
      <input formControlName="monthly" matInput min="168" placeholder="Monthly" >
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Yearly</mat-label>
      <input formControlName="yearly" matInput min="2000" placeholder="Yearly">
    </mat-form-field>
  </div>
</form>
