<form (ngSubmit)="onSubmit()" [formGroup]="form" class="selector">

  <mat-label>{{ currency() }}</mat-label>

  <mat-form-field class="selector--field">
    <mat-label>Hourly</mat-label>
    <input formControlName="hourly" matInput min="1" placeholder="Hourly" type="number">
  </mat-form-field>

  <mat-form-field class="selector--field">
    <mat-label>Daily</mat-label>
    <input formControlName="daily" matInput min="8" placeholder="Daily" type="number">
  </mat-form-field>

  <mat-form-field class="selector--field">
    <mat-label>Monthly</mat-label>
    <input formControlName="monthly" matInput min="168" placeholder="Monthly" type="number">
  </mat-form-field>

  <mat-form-field class="selector--field">
    <mat-label>Yearly</mat-label>
    <input formControlName="yearly" matInput min="2000" placeholder="Yearly" type="number">
  </mat-form-field>

  <button (click)="onAddClicked()" [disabled]="form.invalid" class="selector--add" color="accent" mat-mini-fab matTooltip="Add current values to the shortlist" type="button">
    <mat-icon>add</mat-icon>
  </button>
</form>
